@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

#root {
  /* margin-top: 1px;
  margin-bottom: 1px; */
}
.app-container {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  /* color: #6091d3;  */
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
}
#title {
  margin-top: 100px;
  font-family: "Londrina Shadow", cursive;
  font-size: 80px;
  color: #6091d3;
}
#user {
  margin-top: 100px;
  font-size: 30px;
  /* font-family: "Noto Sans JP", sans-serif; */
}
#user_id {
  margin-top: 30px;
  margin-bottom: 10px;
}

#pass {
  margin-top: 30px;
}
#left_button {
  margin: 30px 50px;
  margin-bottom: 100px;
}
#right_button {
  margin: 30px 50px;
  margin-bottom: 100px;
}

#filter {
  width: 1100px;
  margin: -20px 0px 0px auto;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  color: #6091d3;
}
#list {
  margin-top: 120px;
}

#filter_header {
  position: fixed;
  margin: 70px 0px 0px 0px;
  top: 0;
  z-index: 1000;
  width: 1100px;
  height: 45px;
  color: white;
  background-color: white;
  padding-inline: 12.4px;
  align-content: center;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}
