.greetFrame {
  /* Container */

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60px;
  padding-top: 30px;
  width: 450px;
}

#greet {
  /* こんにちは、佐藤 健太さん */

  width: 100%;
  height: 36px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* ボックスの高さと同一、または120% */

  color: #0d2d3a;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left;
}

#fight {
  width: 100%;
  height: 24px;
  padding-top: 10px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* ボックスの高さと同一、または150% */

  color: #2a5568;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 5px;
  text-align: left;
}
.between {
  /* justify-content: space-between; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
