/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%-80px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background: linear-gradient(
    /* 155deg, */ #daf1fb 13.47%,
    #b3e4f5 50%,
    #caeef8 86.53%
  );
}

.defaultloginBtn {
  /* Button */

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

  width: 300px;
  height: 50px;

  background: #cecece;
  border-radius: 10px;

  border: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}
.readyloginBtn {
  /* Button */

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

  width: 300px;
  height: 50px;

  background: #0077a8;
  border-radius: 10px;

  border: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.whiteText {
  /* ログイン */

  width: 56px;
  height: 20px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* ボックスの高さと同一、または143% */
  text-align: center;

  color: #ffffff;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.inputTitle {
  width: 300px;
  height: 20px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: 600;
  text-align: left;

  color: #0d2d3a;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.erroinputTitle {
  width: 300px;
  height: 20px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: 600;
  text-align: left;

  color: #0d2d3a;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.blueStartBtn {
  display: flex;
  width: 80px;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 6px;
  border: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 20px;
  background: #0077a8;
}

.whiteBtn {
  display: flex;
  width: 308px;
  height: 44px;
  padding: 12px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #0077a8;
  text-align: center;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 20px;
  border: 2px solid #0077a8;
  background: #fff;
}

.gap {
  gap: 12px;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* input {
  display: flex;
  width: 250px;
  height: 14px;
  padding: 12px 40px 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 20px;
  border: 1px solid rgba(0, 119, 168, 0.25);
  background: #f5fbfe;
} */
.board {
  display: flex;
  width: 360px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  margin: 0 auto;

  justify-content: center;
  align-items: center;

  border-radius: 24px;
  background: #fff;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

/* #dispaly {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
} */

#root {
  width: 100%;
  max-width: 100%;
  /* height: 1000px; */
  /* margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed; */
}

h1,
h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

/* h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
} */
/* h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
} */
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.yoko {
  width: auto;
  height: 100%;
  display: flex;
  padding: 24px;
  padding-top: 32px;
  gap: 24px;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
}

.left {
  float: left;
  padding: 10px;
}
.tatewaku {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

#qta {
  width: 60px;
  height: auto;
}
#qta-maru {
  width: 60px;

  margin: 0;
}
.autoBoard {
  display: flex;
  width: 476px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.bluetag {
  display: flex;
  padding: 2px 10px;
  width: 56px;
  height: 20px;
  align-items: center;
  justify-content: center;
  color: #1447e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 16777200px;
  background: #dbeafe;
}
.aftertag {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 16777200px;
  background: #f3f4f6;
}
.count {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 16777200px;
  background: #daf1fb;
}
#orangeBtn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 6px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 20px;
  background: #ffca75;
  color: #7a4a00;
}
.whatcount {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  border-radius: 16777200px;
  background: #fef3c6;
}
.column {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-direction: row;
}
.haji {
  display: flex;
  width: 100%;

  justify-content: space-between;
}
.title {
  color: #0d2d3a;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.gaiyo {
  width: 330px;

  color: #2a5568;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 0;
}

.elseInfo {
  display: flex;
  width: 330px;
  height: 28px;
  padding-top: 12px;
  align-items: center;
  font-size: 12px;
  gap: 16px;
}

.yokocenter {
  width: auto;
  height: 100%;
  display: flex;
  padding: 24px;
  padding-top: 32px;
  gap: 24px;
  flex-direction: row;
  align-items: flex-start;

  align-self: stretch;
}
.dashbord {
  padding: 32px;
}

.react-pdf__Document {
  padding: 30px;
}

#liveleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  width: 60%;
  height: 100%;

  background: #f8fbfd;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 815;
}

.yokoOneScreen {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  height: 600px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
#liveright {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 30%;
  height: 100%;

  background: #ffffff;
  border-left: 1px solid #e5e7eb;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.ScriptBoard {
  display: flex;
  width: 90%;
  height: 930%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

#sikaku {
  width: 20px;
}

.liveheaderright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  justify-content: flex-end;

  width: 50%;
  height: 100%;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.liveheaderleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 50%;
  height: 100%;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.FBContener {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 12px;
  margin-top: 4px;

  width: 400px;
  height: 130px;
  font-size: 12px;
  background: #f8fbfd;
  border: 1px solid rgba(0, 119, 168, 0.15);
  border-radius: 15px;
  margin-left: 1%;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.FBheader {
  display: flex;
  padding: 3px 10px;
  flex-direction: column;
  align-items: flex-start;
}

.FBbody {
  display: flex;
  width: 48px;
  height: 22px;
  padding: 0 8px 2px 8px;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 100px;
  background: #bdbdbd;
}

.header {
  background-color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;
}
.headerTitle {
  /* Container */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 12px;

  width: 100%;
  height: 60px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#bookIcon {
  width: 50px;
}

#loginTitle {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  margin-right: 50px;

  padding-top: 125px;
  padding-bottom: 40px;
}

#loginTitleText {
  width: 288px;
  height: 20px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #0077a8;

  flex: none;
  order: 0;
  flex-grow: 0;
}
#createboad {
  display: flex;
  width: 360px;
  height: 1000px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  margin: 0 auto;

  justify-content: center;
  align-items: center;

  border-radius: 24px;
  background: #fff;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.inputBox {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  width: 300px;
  height: 50px;

  background: #f5fbfe;
  border: 1px solid rgba(0, 119, 168, 0.25);
  border-radius: 10px;
}
.createAcountBtn {
  /* アカウント新規作成ボタン */

  box-sizing: border-box;
  cursor: pointer;

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  width: 300px;
  height: 50px;

  background: #ffffff;
  border: 2px solid #0077a8;
  border-radius: 10px;
}
.blueText {
  /* アカウント新規作成 */

  width: 126px;
  height: 20px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* ボックスの高さと同一、または143% */
  text-align: center;

  color: #0077a8;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.errorloginBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;
}
.errorloginBtn {
  /* Button */
  cursor: pointer;
  box-sizing: border-box;

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

  width: 300px;
  height: 50px;

  background: #fef5f5;
  border: 1px solid #e9b8b8;
  border-radius: 10px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.redText {
  /* ログイン */

  width: 300px;
  height: 20px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* ボックスの高さと同一、または143% */
  text-align: center;

  color: #f01515;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.errorinput {
  width: 300px;
  height: 50px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;

  background: #fef5f5;
  border: 1px solid rgba(168, 0, 0, 0.25);
  border-radius: 10px;
}

.errorinput::placeholder {
  color: red;
}
.errorMark {
  flex: none;
  margin-left: 100px;
  position: relative;
  width: 50px;
  bottom: 50px;
  left: 70px;
}
.inputContener {
  width: 300px;
  height: 76px;
}
