.container {
  /* Frame 63 */

  position: absolute;
  width: 665px;
  height: 510px;
  left: 64px;
  top: 250px;

  background: #ffffff;
  border-radius: 10px;
}

#titleS {
  /* Frame 71 */

  /* オートレイアウト */
  width: 600px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  margin-left: 32.5px;
  gap: 10px;

  background: #006a98;
  border-radius: 10px;
}

#text {
  /* 受講予定の講義一覧 */

  width: 200px;
  height: 25px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.nameS {
  box-sizing: border-box;

  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  /* padding-left: 10px; */
  margin-left: 32.5px;
  margin-right: 32.5px;
  width: 100% - 65px;
  /* gap: 130px; */
  /* margin-left: 32.5px; */

  display: grid;
  grid-template-columns: 5fr 2fr;

  border-bottom: 1px solid #0077a8;
}

.classTitleS {
  /* 講義タイトル */

  /* margin-left: 32.5px; */

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;

  text-align: center;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.classDateS {
  /* display: flex; */

  padding-top: 10px;
  /* flex-direction: row; */
  padding-left: 31.72px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 25px; */
  /* margin-left: 32.5px; */
  /* ボックスの高さと同一、または156% */
  /* text-align: right; */

  color: #000000;

  /* オートレイアウト内部 */
  /* flex: none; */
  order: 0;
  flex-grow: 0;
}
#CreateLectureBtn {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  padding: 16px 50px;
  gap: 6px;
  position: absolute;
  left: 470px;
  top: 445px;
  width: 172px;
  height: 50px;
  cursor: pointer;
  border: 0px;

  /* align-items: center; */

  background: #ffc765;
  box-shadow: 0px 0px 8px #dbbc85;
  border-radius: 10px;

  /* position: relative;
  width: 100px;
  left: 540px;
  top: 465px; */
}
#SyncAltIcon {
  transform: rotate(90deg);
  float: left;
  padding: 10px;
}
#flexsase {
  display: flex;
  flex-direction: row;
}

#kougisiryou {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  padding: 4px 10px;
  gap: 6px;
  width: 100px;
  height: 28px;
  cursor: pointer;
  border: 0px;

  /* align-items: center; */

  background: #ffc765;
  box-shadow: 0px 0px 8px #dbbc85;
  border-radius: 10px;

  /* position: relative;
  width: 100px;
  left: 540px;
  top: 465px; */
}
#rokuonkaishi {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  padding: 4px 10px;
  gap: 6px;
  width: 100px;
  height: 28px;
  cursor: pointer;
  border: 0px;

  /* align-items: center; */

  background: #36f202;
  box-shadow: 0px 0px 8px #dbbc85;
  border-radius: 1px;

  /* position: relative;
  width: 100px;
  left: 540px;
  top: 465px; */
}
#rokuonteishi {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  padding: 4px 10px;
  gap: 6px;
  width: 100px;
  height: 28px;
  cursor: pointer;
  border: 0px;

  /* align-items: center; */

  background: #36f202;
  box-shadow: 0px 0px 8px #dbbc85;
  border-radius: 1px;

  /* position: relative;
  width: 100px;
  left: 540px;
  top: 465px; */
}
