.settingModal {
  display: flex;
  position: absolute;
  bottom: 350px;
  left: 600px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.CreateLectureModal {
  display: flex;
  position: absolute;

  bottom: 350px;
  left: 38%;
  width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.saveBtn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  width: 300px;
  height: 50px;

  background: #ffca75;
  border: 1px solid #ffc765;
  border-radius: 10px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.addBtn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  width: 300px;
  height: 50px;

  background: #ffca75;
  border: 1px solid #ffc765;
  border-radius: 10px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.NoaddBtn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  width: 300px;
  height: 50px;

  background: #ffeac8;
  border: 0px;
  border-radius: 10px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.TimePicker {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  width: 250px;
  height: 58.8px;

  background: #f5fbfe;
  border: 30px solid rgba(0, 119, 168, 0.25);
  border-radius: 5px;
}
.DatePicker {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  /* width: 250px; */
  height: 58.8px;

  background: #f5fbfe;
  border: 1px solid rgba(0, 119, 168, 0.25);
  border-radius: 5px;
}
.inputDateContainer {
  display: flex;
  flex-direction: row;
  width: 500x;
  gap: 10px;
}
.AddTitleHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: bottom 2px rgb(55, 55, 55);
  width: 1000px;
  height: auto;
  padding: 10px;
}
#AddTitle {
  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: #0d2d3a;
}
#SerchBtn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  margin-left: 10px;
  width: 70px;
  height: 50px;

  background: #ffca75;
  border: 1px solid #ffc765;
  border-radius: 10px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}
#inputAndSerch {
  /* Button */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;

  border-radius: 10px;
}
#SerchContainer {
  width: 300px;
  height: 120px;
}
.serchinputBox {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 220px;
  height: 50px;

  background: #f5fbfe;
  border: 1px solid rgba(0, 119, 168, 0.25);
  border-radius: 10px;
}
.sercherrorinputBox {
  width: 220px;
  height: 50px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 220px;
  height: 50px;

  background: #fef5f5;
  border: 1px solid rgba(168, 0, 0, 0.25);
  border-radius: 10px;
}
.sercherrorinput {
  width: 220px;
  height: 50px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;

  background: #fef5f5;
  border: 1px solid rgba(168, 0, 0, 0.25);
  border-radius: 10px;
}
.sercherrorinputBox::placeholder {
  color: red;
}
#borderline {
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 119, 168, 0.15);

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
#batten {
  flex: none;
  margin-left: 100px;
  position: relative;

  bottom: 95px;
  left: 100px;
}
#batten2 {
  flex: none;
  margin-left: 100px;
  position: relative;

  bottom: 70px;
  left: 100px;
}
.Created {
  /* 受講生側講義を登録モーダル（完了） */
  display: flex;
  position: absolute;

  bottom: 350px;
  left: 38%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  padding: 40px 24px 24px;
  gap: 12px;

  width: 400px;
  height: 306px;
  max-height: 718.2px;

  background: #ffffff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 24px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
#Q_taRun {
  width: 80px;
}
.Created {
  height: 270px;
  padding-top: 0px;
  padding-bottom: 0px;
  gap: 0px;
}
.JoinTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;

  height: 28px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: #0d2d3a;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.JoinCode {
  /* 講義コード：TYT-178358 */

  height: 28px;

  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* ボックスの高さと同一、または175% */

  color: #0d2d3a;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.JoinInfoContainer {
  /* Frame 128 */

  /* オートレイアウト */
  display: flex;
  margin-left: 40px;
  margin-right: 40px;

  align-items: flex-start;
  justify-content: space-between;

  height: 100px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
